---
import { Image } from 'astro:assets';
import Layout from '../layouts/Layout.astro';
import { Icon } from 'astro-icon/components';
import Profile from '@assets/images/profile/profile.webp';
---

<Layout title='Rafaella Fernández'>
  <section class='flex flex-col items-center gap-y-4'>
    <div class='w-fit rounded-full bg-gradient-to-b from-primary to-secondary p-1 *:rounded-full'>
      <div class='bg-dark p-3'>
        <Image
          src={Profile}
          alt={'Profile'}
          class='size-52 rounded-full object-cover'
          loading={'eager'}
        />
      </div>
    </div>
    <div class='text-center'>
      <h2 class='text-4xl font-bold leading-none text-primary'>Rafaella Fernández</h2>
      <h3 class='text-2xl font-semibold leading-none text-secondary'>Desarrolladora de Software</h3>
    </div>
  </section>
</Layout>
