---
import { Image } from 'astro:assets';
import Layout from '../layouts/Layout.astro';
import About from '@components/About.astro';
import Experience from '@components/Experience.astro';
import Projects from '@components/Projects.astro';
import info from '../data/info.json';
---

<Layout title={info.name}>
  <div class='space-y-8 p-4 pt-header'>
    <About />
    <Experience />
    <Projects />
  </div>
</Layout>
