---
const links = [
  {
    label: 'Sobre mí',
    url: '#sobre-mi',
  },
  {
    label: 'Experiencia',
    url: '#experiencia',
  },
  {
    label: 'Proyectos',
    url: '#proyectos',
  },
];
---

<header class='h-header bg-dark/10 flex items-center justify-evenly backdrop-blur-xl fixed w-[684px]'>
  {
    links.map(link => (
      <a href={link.url} class='text-light-1/80 hover:text-light-1'>
        {link.label}
      </a>
    ))
  }
</header>
